@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
.Board-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
}

.Board-table {
  margin: 2rem auto;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  display: flex;
  width: 15rem;
}

table {
  justify-content: center;
  align-items: center;
}
tbody,
th,
td {
  border: none;
}

.Board-button {
  font-size: 1rem;
  margin-top: 2rem;
  outline: none;
  border: 0;
  width: 50%;
  height: 2rem;
  background-color: #0d47a1;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.Board-button:hover {
  background-color: #063883;
}

.Board-turntext {
  margin: 1rem;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgb(52, 73, 128, 0.5);
  width: 12.5rem;
  height: 12.5rem;
}
