header {
  background-color: #0d47a1;
  height: 8vh;
  color: white;
  width: 100%;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.App-header {
  font-family: "Bungee Shade", cursive;
  font-size: 2rem;
  padding: 0 0.5rem;
}
