header {
  background-color: #0d47a1;
  height: 8vh;
  color: white;
  width: 100%;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.App-header {
  font-family: "Bungee Shade", cursive;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.LoginDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.signedInAs-label {
  font-size: 0.8rem;
  margin: 0;
  padding: 0.25rem 0.5rem 0 0;
}
