.sign-out {
  background-color: transparent;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
}

.sign-out:hover {
  color: rgb(228, 228, 228);
}
