.App {
  max-width: 30vw;
  margin: auto;
  background-color: #e3f2fd;
  height: 100vh;
}

.SignInView {
  display: flex;
  flex-direction: column;
  top: 10vh;
  align-items: center;
  background-color: #e3f2fd;
  min-width: 500px;
  height: 80vh;
  position: absolute;
}

.GameRoomView {
  top: 8vh;
  background-color: #e3f2fd;
  min-width: 500px;
  height: 92vh;
  position: absolute;
}

footer {
  align-self: flex-end;
  margin: 0 auto;
  height: 4vh;
  line-height: 4vh;
}
